.ButtonContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 5px;
}

.button{
  width: 45px ;
  height: 45px;
  margin: 3px ;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
